<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Blog</title>
<link rel="stylesheet" href="/stylesheets/bootstrap.css">
<link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>

<header>

</header>
<%- include navbar %>
<h1><%= title %></h1>
<nav>
</nav>

<article>
 <% if (success) { %>
 <div><%= success %></div>
<% } %>
<% if (error) { %>
 <div><%= error %> </div>
<% } %> 
<% if (user) { %>
<h1>hello <%= user.name %></h1> 
<% } %>